// clr_1: #70e000 clr_2: #82976d clr_3: #f4fceb clr_4: #171e10

$primary-clr: #70e000;
$primary-clr-2: #3ab300;
$secondary-clr: #82976d;
$clr-light: #f4fceb;
$clr-dark: #171e10;

// font
$font: "Roboto", sans-serif;

// Desktop width
$width: 114rem;

// transition
$transition: 300ms ease;
